@charset "UTF-8";

body {
    background-color: rgb(126, 235, 140);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    h1 {
        color: rgb(209, 153, 112);
        background-color: rgb(0, 0, 0);
    }
    h2 {
        color: rgb(73, 35, 43);
        background-color: rgb(255, 255, 255);
    }
    p {
        text-align: justify;
    }
}